<div>
    <a asp-controller="Home" asp-action="Index" class="me-3">Chefs</a>
    <a asp-controller="Dish" asp-action="AllDishes" class="me-3">Dishes</a>
    <a asp-controller="Home" asp-action="NewChef" class="me-3">Add Chef</a>
    <a asp-controller="Dish" asp-action="NewDish" class="me-3">Add Dish</a>
</div>